fastapi~=0.79.0
uvicorn
pinject==0.14.1
flake8
pytest
pyte
fastapi-utils
sqlalchemy~=1.4.40
alembic~=1.8.1
bcrypt~=3.2.2
pydantic~=1.9.2
psycopg2
pyjwt~=2.4.0
pytest
pytest-cov
requests
python-dotenv
pinject
Faker